<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Ninja Gold Game</title>
</head>
<body>
    <div class="container">
        <p>Your Gold: {{ total_gold  }}</p>
        <div class="box">
            <h3>Farm</h3>
            <h5>(earns 10-20 golds)</h5>
            <form action="/process_money" method="post">
                <input type="hidden" name="building" value="farm"/>
                <input type="submit" value="Find Gold!"/>
            </form>
        </div>
        <div class="box">
            <h3>Cave</h3>
            <h5>(earns 5-10 golds)</h5>
            <form action="/process_money" method="POST">
                <input type="hidden" name="building" value="cave"/>
                <input type="submit" value="Find Gold!"/>
            </form>
        </div>
        <div class="box">
            <h3>House</h3>
            <h5>(earn 2-5 golds)</h5>
            <form action="/process_money" method="POST">
                <input type="hidden" name="building" value="house"/>
                <input type="submit" value="Find Gold!"/>
            </form>
        </div>
        <div class="box">
            <h3>Casino</h3>
            <h5>(earn/takes 0-50 golds)</h5>
            <form action="/process_money" method="POST">
                <input type="hidden" name="building" value="casino"/>
                <input type="submit" value="Find Gold!"/>
            </form>
        </div>
        <P>Activities:</P>
        <div class="activitybox">
        </div>
    </div>
</body>
</html>